* {
    box-sizing: border-box;
}

:root {
    --cols: 16;
    --rows: 16;
}

body {
    margin: 0;
    background-color: #333;
    display: flex;
    align-items: center;
    font-size: 3rem;
    flex-direction: column;
    color: white;
}

.title {
    margin: 20px;
}

.subtext {
    color: #CCC;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.board {
    display: inline-grid;
    padding: 10px;
    grid-template-columns: repeat(var(--cols), 30px);
    grid-template-rows: repeat(var(--rows), 30px);
    gap: 4px;
    background-color:
     #777;
}

.square.mine {
    background-color: red;
}

.square {
    font-size: 12px;
    position: relative;
}

.square.mask::before {
    content: "";
    background-color: aquamarine;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.square.user-set-mine.mask::before {
    background-color: yellow;
}

.square.user-set-mine {
    background-color: yellow;
}


.board>* {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: 2px solid #BBB;
    user-select: none;
}

.board>[data-status="hidden"] {
    background-color: #BBB;
    cursor: pointer;
}

.board>[data-status="mine"] {
    background-color: red;
}

.board>[data-status="number"] {
    background-color: none;
}

.board>[data-status="marked"] {
    background-color: yellow;
}